{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ post.title }}</h1>
    <p>Od <strong>{{ post.author.username }}</strong> v {{ post.created_at|date:"F j, Y, g:i a" }}</p>
    <div class="mb-4">
        <p>{{ post.content }}</p>
        {% if post.image %}
        <img class="img-fluid" style="max-width: 300px" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
    </div>
    <h2>Komentáře</h2>
    <div class="list-group mb-4">
        {% for comment in post.comments.all %}
            <div class="list-group-item">
                <p class="mb-1"><strong>{{ comment.author.username }}</strong>: {{ comment.content }}</p>
                <small>{{ comment.created_at|date:"F j, Y, g:i a" }}</small>
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <h2>Napiš komentář</h2>
        <form method="post">
            {% csrf_token %}
            {{ comment_form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">Přihlas se</a> aby jsi mohl napsat komentář.</p>
    {% endif %}
{% endblock %}
